pyaudio
seleniumbase
SpeechRecognition
selenium>=4.15.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
